<h2 mat-dialog-title>{{ stationDetails.code }}</h2>
<mat-dialog-content class="mat-typography">
  <p>Name: {{ stationDetails.name }}</p>
  <p>Description: {{ stationDetails.description }}</p>
  <p>
    lat: {{ stationDetails.coordinates.latitude }} <br />
    long: {{ stationDetails.coordinates.longitude }}
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>close</button>
</mat-dialog-actions>
