<div class="container">
  <div class="search-term">
    <h1>Airports</h1>
    <form [formGroup]="searchForm">
      <mat-form-field class="search-term-input" appearance="fill">
        <mat-label>Airport code</mat-label>
        <input
          type="text"
          matInput
          formControlName="searchTerm"
          placeholder="Search Airport"
        />
      </mat-form-field>
    </form>
  </div>
  <table mat-table [dataSource]="airportsDataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="viewStationInformation(element?.code)"
      >
        <button mat-raised-button color="primary">view</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
