.container {
  padding-top: 10px;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  gap: 2em;
  flex-basis: 50%;

  .airport-code {
    font-weight: bold;
    padding: 10px;
  }

  .fare-details {
    height: 100px;
    padding: 2em;
    border: 1px solid #797979;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fare-search {
    display: flex;
    gap: 1em;
  }
}
