<div class="container">
  <div class="fare-details">
    <ng-container *ngIf="fareDetails">
      Price for a flight from
      <span class="airport-code"> {{ fareDetails?.orgin.code }}</span> to
      <span class="airport-code"> {{ fareDetails?.destination.code }}</span> is
      {{ fareDetails?.amount }}
      {{ fareDetails?.currency }}
    </ng-container>
  </div>
  <div class="search-fares">
    <h1>Get fares</h1>
    <form class="fare-search" [formGroup]="searchForm">
      <mat-form-field appearance="fill">
        <mat-label>Origin</mat-label>
        <mat-select #origin formControlName="origin" required>
          <mat-option *ngFor="let airport of airports" [value]="airport">
            {{ airport }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Destination</mat-label>
        <mat-select #destination formControlName="destination" required>
          <mat-option *ngFor="let airport of airports" [value]="airport">
            {{ airport }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Current</mat-label>
        <mat-select #currency formControlName="currency" required>
          <mat-option selected [value]="'EUR'"> EUR </mat-option>
          <mat-option [value]="'USD'"> USD </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <button
      mat-raised-button
      color="primary"
      (click)="getFareDetails()"
      [disabled]="!searchForm.valid"
    >
      Get price
    </button>
  </div>
</div>
