/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

// Shared css

.container {
  // heigh of page minus header
  // height: calc(100vh - 64px);
  height: 100vh;
  padding: 0 60px;
}
